

<tr>
    <td>@Id</td>
    <td>@Nombre</td>
    <td>@Edad</td>
    <td>@Cargo</td>
    <td>@FechaContrato</td>
    <td>@Cuota</td>
    <td>@Ventas</td>
</tr>

@code {
    [Parameter]
    public int Id{get;set;}
    
    [Parameter]
    public string Nombre{get;set;} = null!;
    [Parameter]
    public int Edad{get;set;} = 0;
    [Parameter]
    public string Cargo{get;set;}
    [Parameter]
    public DateTime FechaContrato{get;set;}
    [Parameter]
    public int Cuota{get;set;}
    [Parameter]
    public int Ventas{get;set;}
}
