@page "/formRepresentantes"
@using AppBlazor.Client.Servicios;
@inject NavigationManager NavigationManager;
<h3>Añadir nuevo representante</h3>
<EditForm Model="@representanteForm" OnValidSubmit="Guardar">

    <DataAnnotationsValidator/>
    <div class="mt-3">
        <label>Número de empleado (*)</label>
        <InputNumber class="form-control" @bind-Value="representanteForm.Num_Empl" placeholder="Ingrese el número de empleado"/>
        <ValidationMessage For="@(()=>representanteForm.Num_Empl)"/>
    </div>
    <div class="mt-3">
        <label>Nombre del empleado (*)</label>
        <InputText class="form-control" @bind-Value="representanteForm.Nombre"  placeholder="Ingrese el nombre del empleado"/>
        <ValidationMessage For="@(() => representanteForm.Nombre)" />
    </div>
    <div class="d-flex gap-3">
        <div class="mt-3">
        <label>Edad del empleado</label>
        <InputNumber class="form-control" @bind-Value="representanteForm.Edad" placeholder="Ingrese la edad del empleado (opcional)"/>
        <ValidationMessage For="@(() => representanteForm.Edad)" />
    </div>
        <div class="mt-3">
        <label>Fecha de Contratación del empleado (*)</label>
        <InputDate class="form-control" @bind-Value="representanteForm.FechaContrato"/>
        <ValidationMessage For="@(() => representanteForm.FechaContrato)"/>
        </div>
    </div>
    <div class="d-flex gap-3">
        <div class="mt-3">
        <label>Cargo del empleado (*)</label>
        <InputSelect class="form-control" @bind-Value="representanteForm.Cargo" onchange="@CambiarSeleccion">
            <option value="">Seleccione una opcion</option>
            @foreach( var cargo in cargos)
            {
                <option value="@cargo">@cargo</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => representanteForm.Cargo)" />
    </div>
    <div class="mt-3">
        <label>Cuota del empleado (*)</label>
        <InputNumber class="form-control" @bind-Value="representanteForm.Cuota" placeholder="Ingrese el porcentaje que se llevará el empleado por venta"/>
        <ValidationMessage For="@(() => representanteForm.Cuota)" />
    </div>
    </div>

    <div class="mt-3">
        <label>Ventas del empleado (*)</label>
        <InputNumber class="form-control" @bind-Value="representanteForm.Ventas" placeholder="Ingrese la cantidad de ventas "/>
        <ValidationMessage For="@(() => representanteForm.Ventas)" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary"> Guardar</button>
        <button class="btn btn-danger" @onclick="Regresar"> Regresar</button>
    </div>
</EditForm>


@code {
    private RepresentanteFormCLS representanteForm { get; set; } = new ();

    private string[] cargos = {"Vendedor", "Supervisor", "Gerente", "Pasante de sistemas"};
    public void Guardar()
    {
        Console.WriteLine("Se agrego el libro");

        RepresentantesServicio.AgregarLibro(representanteForm);
        representanteForm = new();
    }

    public void Regresar()
    {
        NavigationManager.NavigateTo("/representantes");
    }

    public void CambiarSeleccion(ChangeEventArgs e)
    {
        representanteForm.Cargo = e.Value.ToString() ?? "No asignado";
    }
}
