@page "/representantes"
@using AppBlazor.Client.ComponentesSimples;
@using AppBlazor.Client.Servicios;
@inject NavigationManager navigationManager

<h3>RepresentantesPage</h3>

<div class="container-fluid">
    <table class="table">
        <tr>
            <th>Num. Empleado</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Cargo</th>
            <th>Fecha de Contrato</th>
            <th>Cuota</th>
            <th>Ventas</th>
        </tr>

        @foreach(var registro in lstRepresentantes)
        {
            <RepresentanteItem Id="@registro.Num_Empl" Nombre="@registro.Nombre" Cargo="@registro.Cargo" Cuota="@registro.Cuota" Edad="@registro.Edad" FechaContrato="@registro.FechaContrato" Ventas="@registro.Ventas"/>
        }
    </table>
</div>

<button class="btn btn-primary" @onclick="navegar">
    Agregar representante
</button>


@code {
    private List<RepresentanteFormCLS> lstRepresentantes = new();

    protected override void OnInitialized()
    {
        lstRepresentantes = RepresentantesServicio.ObtenerLibros();
    }
    private void navegar()
    {
        navigationManager.NavigateTo("/formRepresentantes");
    }
}
